{% extends 'base.html' %}
{% block main %}
<h1 class="mt-4">Delete Collaborator: {{collaborator}}</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'core:home' %}">Dashboard</a></li>
    <li class="breadcrumb-item active">Delete collaborator</li>
</ol>
<div class="card mb-4">
    <div class="card-body">
        <form method="post">
            <strong>Are you sure you want to delete the user: {{collaborator}}</strong>
            {% csrf_token %}
            {{ form.as_div }}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'collaborators:list_collaborators'  %}" class="btn btn-info btn-sm">Cancel</a>
        </form>
    </div>
</div>
</div>
{% endblock %}