{% extends 'base.html' %}

{% block main %}
<h1 class="mt-4">Home page</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'core:home' %}">Dashboard</a></li>
</ol>
{% if user.collaborator.company %}
<div class="card mb-4">
    <div class="card-body">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">{{company}}</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Collaborators: {{ collaborator_list|length }}</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="{% url 'collaborators:list_collaborators' %}">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="card mb-4">
    <div class="card-body">
        <p class="mb-0">
            Welcome to the homepage, create a company to take advantage of all the system's features
        </p>
        <a class="btn btn-success" href="{% url 'company:create_company' %}">Create company</a>
    </div>
</div>
{% endif %}
{% endblock %}