{% extends 'base.html' %}

{% block main %} 

<div class="row">
    <div class="col">
        Hello {{user.collaborator.name}}
    </div>
    <div class="col">
        {% if user.collaborator.company %}
            <p>{{user.collaborator.company}}</p>
            <a href="{% url 'company:edit-company' user.collaborator.company.pk %}">Edit company</a>
        {% else %}
            <a href="{% url 'company:create-company' %}">Create company</a>
        {% endif %}
    </div>
    <div class="col">
        <a href="{% url 'logout' %}">Logout</a>
    </div>
</div>

{% endblock %}