{% extends 'base.html' %}

{% block main %}
<h1 class="mt-4">Create company</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'core:home' %}">Dashboard</a></li>
    <li class="breadcrumb-item active">Create company</li>
</ol>
<div class="card mb-4">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_div }}
            <button type="submit" class="btn btn-success">Create</button>
        </form>
    </div>
</div>
</div>
{% endblock %}